<%- include('partials/header') %>

    <div class="mainDiv">
        <h1><%= content.title %></h1>
        <p><%= content.date %></p>
        <p><%= content.post %></p>
    </div>

<%- include('partials/footer') %>